@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Sometype Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply text-fg bg-bg;
}

::selection {
  @apply text-fg bg-primary;
}

a {
  @apply underline hover:text-primary;
}
a:hover {
  @apply text-primary;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
